---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.describe}}">
    <meta name="author" content="{{site.author}}">
    <meta name="copyright" content="{{site.copyright}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@indradotai">
    <meta name="twitter:creator" content="@quinnmichaels">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:description" content="{{site.describe}}">
    <meta name="twitter:image" content="{{site.image}}">

    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:description" content="{{site.describe}}">
    <meta property="og:image" content="{{site.image}}">
    <meta property="og:url" content="{{site.url}}">

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <!-- Le styles -->
    <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="hero">
        <h1>{{site.data.content.title}}</h1>
        <p>{{site.data.content.subtitle}}</p>
      </div>
      {% include nav.html %}
    </header>


    <main>
      <section class="widget">
        <div class="panel">
          <ul></ul>
        </div>
        <div class="content" style="--widget-content-bg: url({{site.data.vedic-threefold-algorithm.image}});">
          <div class="slide">
            <h1><span>{{site.data.vedic-threefold-algorithm.title}}</span></h1>
            <p>{{site.data.vedic-threefold-algorithm.describe}}</p>
          </div>
          <div class="properties"></div>
          <div class="drawer"></div>
        </div>
      </section>

      <div class="row">
        <section class="other">
          <div class="menu">
            <ul>
              <li><a href="/kshatriya-laws">Kshatriya Laws</a>: Study the sacred Kings Laws of the Vedas.</li>
              <li><a href="/karma-yoga">Karma Yoga</a>: Learn about the ancient Vedic practice of Karma Yoga.</li>
              <li><a href="/algorithm">Algorithm</a>: Learn more about the details behind the <strong>#VedicThreefoldAlgorithm</strong>.</li>
              <li><a href="/instructions">Instructions</a>: Read the <strong>#VedicThreefoldAlgorithm</strong> instruction to learn proper use.</li>
              <li><a href="/training">Training</a>: Take the training program to better learn how to use the <strong>#VedicThreefoldAlgorithm</strong>.</li>
            </ul>
          </div>
        </section>
        <section class="posts">
          <h2>Posts</h2>
          {% include posts.html %}
        </section>
      </div>
    </main>
    <footer>
      <div>&copy;2024 Quinn Michaels. All rights reserved.</div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script type="text/javascript">
      const vta = new VedicThreefoldAlgorithm();
      vta.init(); // init the site
    </script>
  </body>
</html>
