header
  text-align: center
  padding: 0
  margin: 0
  display: flex
  align-items: center
  justify-content: center

  .hero-unit
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 0
    flex: 1
    padding: 3rem

    h1, p
      color: #ffffff
      text-shadow: 0 3px 9px rgba(0,0,0,.5)

    h1
      line-height: .8
      padding: 0
      margin: 0
      font-size: 4rem
      font-weight: 500

    p
      font-size: .9rem
      line-height: 1
      padding: 1rem
      margin: 0


  .hero-header
    background-image: url(/assets/img/hero-unit.png)

  .hero-instructions
    background-image: url(/assets/img/ins-indu-indra.png)

  .hero-intelligence
    background-image: url(/assets/img/ins-intelligence.png)

  .hero-five-elements
    background-image: url(/assets/img/ins-five-elements.png)

  .hero-thought-word-deed
    background-image: url(/assets/img/ins-thought-word-deed.png)

  .hero-divine-demonic-scale
    background-image: url(/assets/img/ins-divine-demonic-scale.png)

  .hero-threefold-austerity
    background-image: url(/assets/img/ins-threefold-austerity.png)

  .hero-threefold-charity
    background-image: url(/assets/img/ins-threefold-charity.png)

  .hero-threefold-action
    background-image: url(/assets/img/ins-threefold-action.png)

  .hero-threefold-agent
    background-image: url(/assets/img/ins-threefold-agent.png)

  .hero-threefold-duty
    background-image: url(/assets/img/ins-threefold-duty.png)

  .hero-threefold-intellect
    background-image: url(/assets/img/ins-threefold-intellect.png)

  .hero-threefold-resolve
    background-image: url(/assets/img/ins-threefold-resolve.png)

  .hero-threefold-food
    background-image: url(/assets/img/ins-threefold-food.png)

  .hero-threefold-pleasure
    background-image: url(/assets/img/ins-threefold-pleasure.png)

  .hero-threefold-convergence
    background-image: url(/assets/img/ins-threefold-convergence.png)

  .hero-threefold-activity
    background-image: url(/assets/img/ins-threefold-activity.png)

  .hero-threefold-listening
    background-image: url(/assets/img/ins-threefold-listening.png)

  .hero-threefold-concern
    background-image: url(/assets/img/ins-threefold-concern.png)

  .hero-threefold-wealth
    background-image: url(/assets/img/ins-threefold-wealth.png)

  .hero-origin
    background-image: url(/assets/img/ins-threefold-intellect.png)
