@import "root"
@import "icons"
@import "buttons"
@import "global"
@import "header"
@import "footer"
@import "menu"
@import "posts"
@import "widget"
@import "monokai"

main
  margin: auto
  max-width: $page.width
  padding: 0
  display: flex
  flex-flow: column
  img
    max-width: 100%

.page
.share
  max-width: $page.width - 200

.Air
.Wind
  color: $colors.white

.Thought
.Srotriya
  color: $colors.purple

.Deed
.Brahman
.Dear
  color: $colors.orange

.Divine
.Earth
.Vaisya
.Envy
  color: $colors.green

.Goodness
.Water
  color: $colors.baby-blue

.Passion
.Word
.Ether
.Space
.Kshatriya
.Thinking
  color: $colors.yellow

.Ignorance
.Demonic
.Fire
.Sudra
.Desire
  color: $colors.red

$x = {
  size: 20px
}

.share
  margin: auto
  display: flex
  justify-content: center
  .quote
    flex: 1
    line-height: .9
    padding: 1rem
    font-size: 2rem
    color: $colors.grey
    padding: 2rem 2rem 1rem 2rem
  .buttons
    display: flex
    flex-flow: row nowrap
    align-items: center
    .x
      font-size: 1rem
      background-color: $colors.black
      padding: .5rem 1rem
      display: flex
      align-items: center
      &::before
        display: inline-block
        width: $x.size
        height: $x.size
        content: " "
        margin-right: .5rem
        background-image: url(/assets/img/x-logo/logo-small-white.png)
        background-repeat: no-repeat
        background-size: 100% auto
