@import "root"
@import "icons"
@import "buttons"
@import "global"
@import "header"
@import "footer"
@import "menu"
@import "posts"
@import "widget"
@import "monokai"

main
  margin: auto
  width: $page.width
  padding: 0
  display: flex
  flex-flow: column

  img
    max-width: 100%
