.widget
  overflow: hidden
  display: none

  height: 30rem
  background-color: $colors.dark-grey
  max-width: $page.width
  margin auto
  border-top: 3px solid $colors.dark-grey
  border-bottom: 3px solid $colors.dark-grey

  flex-flow: column nowrap

  @media screen and (min-width: 960px)
    display: flex
    flex-flow: row nowrap


  .panel
    overflow: auto
    min-width: 200px
    flex: 0 200px

    ul
      list-style: none
      margin: 0
      padding: 0
      display: flex
      flex-flow: column nowrap
      height: 100%

      li
        flex: 1 auto
        display: flex

        button
          font-size: .75rem
          display: block
          flex: 1
          text-align: left
          font-weight: thin
          border-radius: 0
          margin: 0
          padding: .4rem

          &.active
            background-color: rgba($colors.green, .25)
            padding-left: 1rem

  .content
    padding: 0
    overflow: auto
    display: flex
    flex-flow: column nowrap

    h1
      text-align: center
      font-size: 2.25rem
      margin: 0
      padding: 5rem 0
      background-image: var(--widget-content-bg)
      color: $colors.white
      text-shadow: 0 2px 5px rgba($colors.black, .5)
      background-position: center center
      background-size: cover
      flex: 0
      background-color: $colors.grey

      span
        display: inline-block
        background-color: rgba($colors.black, .75)
        padding: 1rem 1.5rem
        border-radius: 3rem

    > p
      flex: 1
      margin: 0;
      padding: 1rem
      font-size: 1.2rem

    .properties
      flex: 1
      display: flex
      flex-flow: row wrap
      justify-content: center
      gap: .5rem
      padding: .5rem

      article
        padding: .5rem
        flex: 1
        border-top: 2px solid
        text-shadow: 0 2px 3px rgba($colors.black, .25)

        &.thought
        &.Srotriya
          color: $colors.purple
        &.deed
        &.Brahman
          color: $colors.orange

        &.divine
        &.Earth
        &.Vaisya
          color: $colors.green
        &.goodness
        &.Water
          color: $colors.baby-blue

        &.passion
        &.word
        &.Ether
        &.Kshatriya
          color: $colors.yellow
        &.ignorance
        &.demonic
        &.Fire
        &.Sudra
          color: $colors.red

        h2
          font-size: 1.25rem
          margin: 0
          font-weight: bold
          text-transform: capitalize
          text-align: center

        p
          font-size: .9rem
          margin: 0
          padding: 0
