<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#VedicThreefoldAlgorithm - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{page.describe}}">
    <meta name="author" content="{{page.author}}">
    <meta name="copyright" content="{{page.copyright}}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@indradotai">
    <meta name="twitter:creator" content="@quinnmichaels">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.excerpt}}">
    <meta name="twitter:image" content="{{page.image}}">

    <meta property="og:site_name" content="{{page.name}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.excerpt}}">
    <meta property="og:image" content="{{page.image}}">
    <meta property="og:url" content="{{page.site}}">

    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />

    <!-- Le styles -->
    <link rel="stylesheet" href="https://use.typekit.net/dds5scw.css">
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="hero-unit hero-{{page.hero}}">
        <h1>{{page.title}}</h1>
      </div>
    </header>

    {% include nav.html %}

    <main>
      <h1>{{page.title}}</h1>

      <div class="meta">
        <div class="author"><strong>author</strong>: {{page.author}}</div>
        <div class="date"><strong>date</strong>: {{page.date | date: "%B %d, %Y"}}</div>
      </div>

      {{content}}

    </main>

    <footer>
      <div>&copy;2024 Quinn Michaels. All rights reserved.</div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
  </body>
</html>
